<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <script src="/js/delete.js" defer></script>
  </head>
  <body>
    <%- include('../components/nav.ejs') %>
    <div class="details content">
      <h3><%= blog.title %></h3>
      <div class="content margin-added">
        <p><%= blog.body %></p>
      </div>
      <div class="button-container">
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
        <a class="edit" href="/blogs/edit/<%= blog._id %>">edit</a>
      </div>
    </div>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
