<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/nav.ejs') %>
    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <a href="/blogs/<%= blog._id %>">
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
      </a>
      <% }) %> <% } else { %>
      <p>There are no blogs to display at the moment....</p>
      <% } %>
    </div>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
